<style>
  .list + .list {
    border-top: 1px solid rgba(0, 0, 0, 0.2)
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .list > button {
    padding: 1rem 0;
  }
  .list > button:first-child {
    font-size: 1.2rem;
    width: 100%;
    text-align: left;
  }
  .list > button:last-child {
    opacity: 0.2;
    height: 100%;
  }
  .list > button:last-child:hover {
    opacity: 0.5;
  }
  button.block {
    margin-top: 1.5rem;
  }
</style>

<div *ngIf="!view" class="lists">
  <div class="header">
    <h2>My lists</h2>
    <button routerLink="/new"><i class="fas fa-plus"></i></button>
  </div>
  <div class="list" *ngFor="let list of lists | keyvalue">
    <button (click)="setView(list.value.id, 'view')">{{ list.value.name }}</button>
    <button (click)="setView(list.value.id, 'edit')"><i class="fas fa-pen"></i></button>
  </div>
</div>

<div *ngIf="view">
  <div class="header">
    <h2>{{ lists[view.list].name }}</h2>
    <button (click)="view = null"><i class="fas fa-arrow-left"></i></button>
  </div>
  <list-form *ngIf="view.mode === 'edit'" [list]="lists[view.list]" [handleResponse]="fetchLists" [submitText]="'Save changes'"></list-form>
  <list-view *ngIf="view.mode === 'view'" [members]="lists[view.list].members"></list-view>
</div>