<style>
  .options {
    margin: 0.75rem 0;
    padding-left: 1rem;
    border-left: 1px solid #000;
  }
  p {
    margin: 0.5rem 0 0.25rem;
  }
</style>

<input-checkbox
  name="recurring"
  label="Recurring?"
  [checked]="options.recurring !== 'never'"
  [onChange]="toggleRecurring">
</input-checkbox>

<div class="options" *ngIf="options.recurring !== 'never'">
  <input-dropdown
    name="recurring"
    label="How often?"
    [options]="dropdownOptions"
    [defaultOption]="defaultOption"
    [handleSelect]="setRecurring">
  </input-dropdown>
  <div *ngIf="options.recurring === 'weekly'">
    <p>Every:</p>
    <input-checkbox
      *ngFor="let option of weekOptions"
      [name]="option.value"
      [label]="option.display"
      [checked]="weekdays.includes(option.value)"
      [onChange]="toggleWeekday(option.value)"
      [behavior]="{ checkboxFirst: true, group: true }">
    </input-checkbox>
  </div>
</div>