.ListForm {
  display: flex;
  flex-direction: column;

  & > div + div {
    margin-top: 1.5rem;
  }
  .recurringOptions {
    margin: 0.75rem 0;
    padding-left: 1rem;
    border-left: 1px solid #000;
  }
}