<style>
  :host > * + * {
    margin-top: 1.5rem;
  }
  :host > div.submit {
    margin-top: 2.5rem;
  }
  .name {
    font-size: 1.2rem;
  }
</style>

<div class="name">
  <label *ngIf="list" for="listname">List name:</label>
  <label *ngIf="!list" for="listname">Name this list:</label>
  <input autofocus autocomplete="off" type="text" name="listname" placeholder="My list" [value]="listName" (change)="setListName($event)" />
</div>

<div>
  <recurring [options]="options"></recurring>
</div>

<div>
  <list-items [listItems]="listItems"></list-items>
</div>

<div class="submit"><fancy-button [onClick]="handleFakeSubmit">{{ submitText }}</fancy-button></div>

<button class="block" (click)="handleSubmit()">actual submit</button>